<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>707391127399-2pn0jlpopdb74jl1p26iv2qj27md1j0r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.707391127399-2pn0jlpopdb74jl1p26iv2qj27md1j0r</string>
	<key>API_KEY</key>
	<string>AIzaSyDxIb8-0nDB6r8kxCDRk3EgYBu1wBul6Co</string>
	<key>GCM_SENDER_ID</key>
	<string>707391127399</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gorush.demo</string>
	<key>PROJECT_ID</key>
	<string>gorush-8ac4b</string>
	<key>STORAGE_BUCKET</key>
	<string>gorush-8ac4b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:707391127399:ios:7c7385c9677d3cc3</string>
	<key>DATABASE_URL</key>
	<string>https://gorush-8ac4b.firebaseio.com</string>
</dict>
</plist>